.button-container{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color:#808080;
    color:white;
    flex:1;
    
}
